.mat-card {
  width: 50%;
  margin-left: 10%;
  margin-bottom: 2%;
  border: rgb(184, 184, 184) 1px solid;
  box-shadow: 15px 15px 15px grey;

}
@media (max-width: 768px) {
  .mat-card {
    width: 60%;
    margin-left: 15%;
  }
}
.card-img {
  margin-top: 4%;
  max-height: 130px;
}
@media (max-width: 500px) {
  .card-img {
    margin-top: 0%;
    margin-left: 25%;
  }
}
.card-data {
  margin-top: -15%;
  margin-left: 20%;
}
@media (max-width: 768px) {
  .card-data {
    margin-top: 0%;
    margin-left: 0%;
    margin-left: 10px;
  }
}
.card-style {
  font-size: 18px;
}
.btn-style {
  margin-left: 50%;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .btn-style {
    margin-left: 0%;
    width: 50%;
  }
}
.title-style {
  font-size: 90%;
  white-space: nowrap;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 500px) {
  .title-style {
    width: 100%;
  }
}
.card-btn {
  margin-left: 58%;
  color: white;
  background-color: rgb(45, 125, 206);
}
@media (max-width: 1024px) {
  .card-btn {
    margin-left: 35%;
  }
}
.price {
  margin-top: 5%;
  margin-left: 20%;
}
@media (max-width: 768px) {
  .price {
    margin-left: 5%;
  }
}
