 <div>
    <mat-card class="mat-card font">
      <p class="card-style">Order Summary({{ cartBooks?.length }})</p>
      <div *ngFor="let summaryBook of cartBooks">
        <img class="card-img" [src]="getImageUrl( summaryBook )" />  
        <div class="card-data">
          <p class="title-style">{{ summaryBook.title }}</p>
          <p class="author-style">by {{ summaryBook.author }}</p>
          <p class="price-style">Rs.{{ summaryBook.price }}</p>  
        </div>
      </div>
      <p class="price">Total Quantity of Books:{{totalQuantity}}</p>
      <b class="price">Total Rs.{{totalPrice}}</b>
      <br />
      <mat-divider></mat-divider>
      <br />
      <div class="btn-style">
        <a routerLink="/success"><button class="card-btn" (click)="openSnackBar('You`re Order Successfull !!!', 'Submit');
          " mat-button>CHECKOUT</button></a>
      </div>
    </mat-card>
  </div>

  