<div class="loading-sp" *ngIf="loading">
  <img 
    src="assets/Reload-0.8s-200px .gif"
  />
</div>
<div *ngIf="loading == false">
  <mat-card class="mat-card font">
    <p class="card-style">My Cart ({{ books?.length }})</p>
    <div *ngIf="!books || books?.length === 0">
      <p class="bs-msg">Youre Cart is Empty...!!!</p>
    </div>
    <div *ngIf="books || books?.length > 0">
      <div *ngFor="let cartBooks of books">
        <img class="card-img" [src]="getImageUrl(cartBooks)" />
        <div class="card-data">
          <p class="title-style">{{ cartBooks.title }}</p>
          <p class="author-style">by {{ cartBooks.author }}</p>
          <p class="price-style">Rs.{{ cartBooks.price }}</p>
          <span><button (click)="addItem(cartBooks.id)">+</button></span>
          <span class="btn-icon">{{ cartBooks.bookQuantity }}</span>
          <span><button (click)="removeItem(cartBooks.id)">-</button></span>
          <button
            class="rem-btn"
            mat-button
            (click)="
              removeFromCart(cartBooks);
              openSnackBar('Book Remove From Cart Successfull !!!', 'Remove')"
          >
            Remove
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <br />
    <button
      class="card-btn"
      *ngIf="this.isButtonVisible"
      mat-button
      (click)="
        openSnackBar('Place Order Successfull !!!', 'Submit');
        this.isButtonVisible = false"
      (click)="isCustomerExist()"
    >
      PLACE ORDER
    </button>
  </mat-card>
<br />
<div *ngIf="isExist == false">
  <app-customer-details></app-customer-details>
</div>

<app-order-summary></app-order-summary>
</div>