<div>
  <mat-card class="mat-card">

    <p>My Cart (1)</p>
    <div *ngFor="let cartBooks of books">
      <img class="card-img"
        src="https://books.google.com/books/content?id=GHt_uwEACAAJ&printsec=frontcover&img=1&zoom=5" />

      <div class="card-data">
        <p>{{cartBooks.title}}</p>
        <p>by {{cartBooks.author}}</p>
        <p>{{cartBooks.price}}</p>
        <div (click)="add()">ADD</div>
        <span><button class="btn-icon" (click)="removeItem()">-</button></span>
        <span>{{ amount }}</span>
        <span><button class="btn-icon" (click)="addItem()">+</button></span>

        <button mat-button (click)="removeFromCart(cartObj)">Remove</button>
      </div>
      <br>
      <button class="card-btn" mat-button (click)="isClicked= true">PLACE ORDER</button>
    </div>
  </mat-card>
</div>
<br>
<app-form *ngIf="isClicked"></app-form>