.mat-card {
  width: 50%;
  margin-left: 10%;
  box-shadow: 15px 15px 15px grey;
  border: rgb(184, 184, 184) 1px solid;

}
@media (max-width: 768px) {
  .mat-card {
    width: 60%;
    margin-left: 15%;
  }
}
.card-img {
  margin-top: 2%;
  max-height: 130px;
  margin-bottom: 2%;

}
@media (max-width: 500px) {
  .card-img {
    margin-top: 0%;
    max-height: 130px;
    margin-left: 25%;
  }
}
.card-data {
  margin-top: -20%;
  margin-left: 20%;
}
@media (max-width: 768px) {
  .card-data {
    margin-top: 0%;
    margin-left: 0%;
    margin-left: 10px;
  }
}
.card-style {
  font-size: 18px;
}
.btn-style {
  margin-left: 50%;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .btn-style {
    margin-left: 0%;
    width: 50%;
  }
}
.title-style {
  font-size: 90%;
  white-space: nowrap;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 500px) {
  .title-style {
    font-size: 90%;
    width: 100%;
  }
}

.rem-card {
  margin-left: 69%;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .rem-btn {
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 10px;
  }
}

@media (min-width: 777px) {
  .rem-btn {
    margin-left: 78%;
    margin-bottom: 10px;
  }
}
.card-btn {
  
  color: white;
  background-color: rgb(45, 125, 206);
}
@media (max-width: 768px) {
  .card-btn {
    margin-left: 15%;
  }
}
@media (min-width: 769px) {
  .card-btn {
    margin-left: 75%;
  }
}
.btn-icon {
  border-color: white;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}
