<!-- <mat-card class = "card-style">
    <div>
        <mat-card class = "form-style">
            <mat-card-header>
                <div>
                  <img class="header-img-style" src="assets/passwordImage.png"/>
                </div>
                <div>
                  <mat-card-title class="login-name">Trouble Logging in?</mat-card-title>
                 
                </div>
                <br>
                <br>
                
                <div>
                    <p>Enter your username or email and we'll send you a link to get back into your account.</p>
                </div>
              </mat-card-header>

        </mat-card>
    </div>
</mat-card> -->
<mat-card class="card-style">
  <div>
    <mat-card class="form-style">
      <mat-card-header>
        <div>
          <img class="header-img-style" src="assets/passwordImage.png " />
        </div>
        <div>
          <mat-card-title class="login-name">Trouble Logging In?</mat-card-title>
        </div> 
      </mat-card-header>
      <br>
      <div>
        <mat-card-content>
          <div>
              <mat-form-field class="field-style">
                <mat-label>Email id</mat-label>
                <mat-icon matSuffix>mail_outline</mat-icon>
                <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" />
              </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-margin">
            <div class="button-style">
              <button class="login-btn" mat-button>Login</button>
          </div>
          <p class="space-bet">OR</p>
          <div>
              <p>Create New Account click
              <a routerLink="/signup" >here</a>
              </p>
          </div>
          </div>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</mat-card>