 <mat-card  class="card-style">
<div>
    <mat-card class="form-style">
      <mat-card-header>
        <div>
          <img
            class="header-img-style"
            src="assets/forget.jpeg "
            alt="filter applied"
          />
        </div>
        <div>
          <mat-card-title class="login-name"
            >Trouble Logging In?</mat-card-title>
        </div>
      </mat-card-header>
      <br />
      <div>
        <mat-card-content>
          <div>
            <mat-form-field class="field-style">
              <mat-label>Email id</mat-label>
              <mat-icon matSuffix>mail_outline</mat-icon>
              <input
                matInput
                [formControl]="emailFormControl"
                [errorStateMatcher]="matcher"
              />
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-margin">
            <div class="button-style">
              <button class="login-btn" mat-button> Send Login Link</button>
            </div>
            <p class="space-bet">OR</p>
              <p>
                Create New Account click
                <a routerLink="/signup">here</a>
              </p>
          </div>
        </mat-card-actions>
      </div>
    </mat-card>
</div>
</mat-card>

