// .card-style{
//     display: flex;
//      justify-content: center;
//      align-items: center;
//        width: 880px;
//       margin: auto;
//       height: 500px;
      
//      }
//      .form-style{
//         background-color: #F6EAEA;
//         height: 400px;
//         width: 380px;
//         margin-top: 10%;
//      }
//      .header-img-style {
//         border-radius: 100%;
//         width: 45%;
//         margin-left: 45%;
//         margin-top: -28%;
//       }
//       .login-name {
//         margin-top: 63px;
//         margin-left: -111%;
//       }
.card-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 880px;
  margin: auto;
  height: 500px;
}
.form-style {
  background-color: #f6eaea;
  height: 400px;
  width: 380px;
  margin-top: 10%;
}
.header-img-style {
  border-radius: 100%;
  width: 45%;
  margin-left: 50%;
  margin-top: -28%;
}
.login-name {
  margin-top: 63px;
  margin-left: -90%;
}
.field-style {
  width: 370px;
}
.button-margin {
  margin-left: 8px;
  margin-right: 12px;
}
.button-style {
  display: flex;
  justify-content: space-between;
}
.login-btn {
  background-color: #a52a2a;
  color: white;
  width: 100%;
}
.link-style {
  color: brown;
}
.space-bet{
    margin: 10% 45% 0% 45%;
}