<div>
    <div>
        <mat-card>
            <div class="bs-img-bg">
                <img class="example-header-image" src='{{getImageUrl()}}' />
                
                <mat-divider></mat-divider>
            </div>
            <p class="title-style">{{ book.title }}</p>
            <p class="author-style">by {{ book.author }}</p>
            <p class="price-style">${{ book.price }}</p>
            <button class="button-style1">ADD TO BAG</button>
            <button (click)="colorChange()" [ngClass]="{'green': toggle}" class="button-style2">WISHLIST</button>
        </mat-card>
    </div>
</div>