.image-style {
  width: 50%;
  height: 120px;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.title-style {
  font-weight: bold;
  font-size: 90%;
 line-height: 16px;
  white-space: nowrap; 
  width: 180px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  }

.author-style {
  font-size: 47%;
  margin-left: 2%;
  margin-top: -4%;
}
.price-style {
  font-size: 75%;
  margin-left: 2%;
  font-weight: bold;
  margin-top: -2%;
}
.bs-img-bg {
  background-color: rgb(245, 247, 247);
  margin: -0px -15px -8px -15px;
  margin-top: -20px;
}
.ab{ 
  margin: 0px -15px 0px 0px;
}

.button-style1 {
   background-color: brown;
   border: unset;
   color: white;
   height: 30px;
  
 }
 .button-style2 {
  margin-left: 6px;
  height: 30px;
 }
  .green {
  background-color: green;
 }

 .img__wrap {
  position: relative;
  height: 200px;
  width: 257px;
 }
 .img__description {
position: absolute;
  top: 0;
  bottom: 0;
   left: 0;
  right: 0;
  background:whitesmoke;
  color:black;
   visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
}