




.example-header-image {
  width: 50%;
  height: 150px;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.title-style {
  font-weight: bold;
  font-size: 90%;
  line-height: 10px;
}
.author-style {
  font-size: 47%;
  margin-left: 2%;
}
.price-style {
  font-size: 75%;
  margin-left: 2%;
  font-weight: bold;
}
.bs-img-bg {
  background-color: rgb(241, 238, 238);
}

.button-style1 {
   background-color: brown;
   color: white;
  
 }
 .button-style2 {
  margin-left: 20px
 }
  .green {
  background-color: green;
 }