<div>
    <div>
        <mat-card class="mat-card">
            <div>
                <div class="bs-img-bg">
                    <img class="image-style" [src]="getImageUrl()" />
                    <!-- <p class="img__description">{{ book. description }}</p> -->
                </div>
            </div>
            <p class="title-style">{{book.title}}</p>
            <p class="author-style">by {{book.author}}</p>
            <p class="price-style">${{book.price}}</p>
            <button (click)="incrementBagCnt(); addToCart()" class="button-style1" disabled={{isDisabled}}>ADD TO BAG</button>
            <button (click)="buttonColorChange(); incrementBagCnt(); addToWishlist()" [ngClass]="{'green': toggle}" class="button-style2">WISHLIST</button>
       
        </mat-card>
    </div>
</div>