.mat-card{
  width: 650px;;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border: rgb(184, 184, 184) 1px  solid; 
  transition: none !important;
  box-shadow: none !important;
  font: 15px Arial, sans-serif;
}
.card-img{
  margin-top: 3%;
  max-height: 130px;
}
.card-data{
  margin-top: -23%;
  margin-left: 130px;
}
.card-style{
  font-size: 18px ;
}

.btn-icon{
  border-radius: 100%;
  border-color: white;;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.rem-btn{
  
  color: white;
  background-color: rgb(170, 46, 46);
}
.addcard-btn{
  margin-left: 40px;
  color: white;
  background-color: rgb(45, 125, 206);
}
.btn-style{
  margin-left: 250px;
  margin-bottom: 5%;
}
.title-style {
  font-size: 90%;
  white-space: nowrap; 
  width: 180px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  }

.author-style {
  font-size: 50%;
  color: grey;
}
.price-style {
  font-size: 75%;
  font-weight: bold;
}
