.mat-card {
    width: 650px;
    display: flex;
    margin-top: 5%;
    margin-right: 10px;
    margin-bottom: 30%;
    transition: none !important;
    box-shadow: none !important;
    border: rgb(184, 184, 184) 1px  solid; 
    font: 15px Arial, sans-serif;
  }
  .card-img {
    max-height: 130px;
  }
  .card-data {
    margin-top: 40px;
    margin-left: 20px;
  }
  .card-btn {
    margin-left: 20px;
    margin-top: 150px;
    color: white;
    background-color: rgb(45, 125, 206);
  }
  .rem-btn{
    margin-left: 300px;
    color: white;
    background-color: rgb(170, 46, 46);
  }