<div>
  <mat-card class="mat-card">
    <p>WishList</p>
    <div *ngFor="let wishlistBooks of books">
      <img
        class="card-img"
        [src]="getImageUrl(wishlistBooks)"
      />
      <div class="card-data">
        <p>{{ wishlistBooks.title }}</p>
        <p>by {{ wishlistBooks.author }}</p>
        <p>{{ wishlistBooks.price }}</p>
      <div class="btn-style">
        <button class="rem-btn" (click)="removeFromWishList(wishlistBooks)" mat-button>REMOVE</button>
        <a routerLink="/cart"
          ><button class="addcard-btn" mat-button>Add to Cart</button></a
        >
      </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <br />
    
  </mat-card>
</div>
