<div>
  <mat-card class="mat-card">
    <p class="card-style">WishList({{ books?.length }})</p>
    <div *ngIf="!books || books?.length === 0">
      <p class="bs-msg">You`re Wishlist is Empty...!!!</p>
    </div>
    <div *ngIf="books || books?.length > 0">
    <div *ngFor="let wishlistBooks of books">
      <img class="card-img" [src]="getImageUrl(wishlistBooks)" />
      <div class="card-data">
        <p class="title-style">{{ wishlistBooks.title }}</p>
        <p class="author-style">by {{ wishlistBooks.author }}</p>
        <p class="price-style">Rs.{{ wishlistBooks.price }}</p>
        <div class="btn-style">
          <button
            class="rem-btn"
            (click)="removeFromWishList(wishlistBooks); openSnackBar('Book Reomve From Wishlist !!!','Remove')"
            mat-button>REMOVE
          </button>
            <button class="addcard-btn"(click)="incrementBagCnt(); addToCart(wishlistBooks); openSnackBar('Book Added To Cart !!!','Submit')"
        
            mat-button>Add to Cart
            </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
    <br />
  </mat-card>
</div>
