<div>
  <mat-card  class="main-style">
    <div class="succ-img">
      <img class="success-style"
        src="assets/success.jpeg"
      />
    </div>
    <div class="data-style">
      <p>
        hurry!!!your order is confirmed <br />
        the order id is #123456 save the order id for<br />
        futher communication.
      </p>
    </div>
    <div class="data-style">
      <table>
        <tr>
          <th>Email</th>
          <th>Contact</th>
          <th>Address</th>
        </tr>
        <tr>
          <td>abc23@gmail.com</td>
          <td>1234567890</td>
          <td>xyz ,24 aasdfghhklqwertyui</td>
        </tr>
      </table>
    </div>
    <div class="card-btn" >
      <a routerLink="/"><button class="btn-col"mat-button>CONTINUE SHOPPING</button></a>
    </div>
  </mat-card>
  </div>