.main-style {
  display: flex;
  width: 1000px;
  flex-direction: column;
  font: 15px Arial, sans-serif;
}
.data-style {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  text-align: center;
}
.msg-style {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px;
  width: 60%;
}

.card-btn {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.btn-col {
  color: white;
  background-color: rgb(45, 125, 206);
}
.success-style {
  width: 30%;
  height: 40%;
}
.succ-img {
  display: flex;
  justify-content: space-around;
  text-align: center;
}