<div>
  <mat-card class="main-style">
    <div class="succ-img">
      <img class="success-style"
        src="assets/success.jpg"
      />
    </div>
    <div class="data-style">
      <p>
        hurry!!!your order is confirmed <br />
        the order id is #{{orderId}}save the order id for<br />
        futher communication.
      </p>
    </div>
    <div class="data-style">
      <table>
        <tr>
          <th>Email us</th>
          <th>Contact us</th>
          <th>Address</th>
        </tr>
        <tr>
          <td>admin@bookstore.com</td>
          <td>+918163475881</td>
          <td>42,14th Main,5th Cross,Sector 4,opp to BDA complex,near Kumarakom restaurant,HSR Layout,Bangalore 560034</td>
        </tr>
      </table>
    </div>
    <div class="card-btn" >
      <a routerLink="/"><button class="btn-col"mat-button>CONTINUE SHOPPING</button></a>
    </div>
  </mat-card>
  </div>