<div>
  <mat-card class="mat-card">
    <div>
      <p>My Cart (1)</p>
      <img  class="card-img"
        src="https://books.google.com/books/content?id=GHt_uwEACAAJ&printsec=frontcover&img=1&zoom=5"
      />
    </div>
    <div class="card-data">
      <p>DEMO</p>
      <p>by TESTER</p>
      <p>$$$$</p>
      <span class="material-icons">
        add_circle_outline
      </span>
      <span class="material-icons">
        remove_circle_outline
      </span>
      <button mat-button>Remove</button>
      <br>
      <button class="card-btn" mat-button>PLACE ORDER</button>
    </div>
  </mat-card>
</div> 

<br> 
<div>
<mat-card class="cust-mat-card">
  <div>
  <p>Customer Details</p>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="cust-field" appearance="outline">
      <mat-label>Phone number</mat-label>
      <input matInput [formControl]="numberFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="numberFormControl.hasError('required')">
        Number is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Pincode</mat-label>
      <input matInput [formControl]="PincodeFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="PincodeFormControl.hasError('required')">
        Pincode is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="cust-field"appearance="outline">
      <mat-label>Locality</mat-label>
      <input matInput [formControl]="LocalityFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="LocalityFormControl.hasError('required')">
        Locality is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="cust-add-field" appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput [formControl]="AddressFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="AddressFormControl.hasError('required')">
        Address is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>City/Town</mat-label>
      <input matInput [formControl]="CityFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="CityFormControl.hasError('required')">
        city name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="cust-field" appearance="outline">
      <mat-label>Landmark</mat-label>
      <input matInput [formControl]="LandmarkFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="LandmarkFormControl.hasError('required')">
        Landmark is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <br>

  <label>Home</label><br /><br />
  <div>
    <input type="radio" />
    <label>Home</label> 
    <input type="radio" />
    <label>Work</label>
    <input type="radio" />
    <label>Other</label>
    <div class="button">
      <button class="cust-btn" mat-button>CONTINUE</button>
    </div>
  </div>
</div>
</mat-card>
</div>  
<div>
  <mat-card class="mat-card">
    <div>
      <p>Order Summary</p>
      <img
        class="card-img"
        src="https://books.google.com/books/content?id=GHt_uwEACAAJ&printsec=frontcover&img=1&zoom=5"
      />
    </div>
    <div class="card-data">
      <p>Landmark</p>
      <p>by Landmark</p>
      <p>Rs.1234</p>
      <a routerLink="/place-order"><button class="card-btn" mat-button>CHECKOUT</button></a>
    </div>
  </mat-card>
</div> 
