
.button-margin {
  margin-left: 8px;
  margin-right: 12px;
}
.button-style {
  display: flex;
  justify-content: space-between;
}
.login-btn {
  background-color: #a52a2a;
  color: white;
  width: 150px;
}
.signup-btn {
  background-color: #a52a2a;
  color: white;
  width: 150px;
}
