.card-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin: auto; 
  margin-top: 10%;
  background-color: #f6eaea;
}
.header-img-style {
  border-radius: 100%;
  width: 45%;
  margin-left: 45%;
  margin-top: -28%;
}
.login-name {
  margin-top: 45%;
  margin-left: -121%;
}
.field-style {
  width: 370px;
}
.button-margin {
  margin-left: 8px;
  margin-right: 12px;
}
.button-style {
  display: flex;
  justify-content: space-between;
}
.login-btn {
  background-color: #a52a2a;
  color: white;
  width: 150px;
}
.signup-btn {
  background-color: #a52a2a;
  color: white;
  width: 150px;
}
.link-style {
  color: brown;
}
