<mat-card class="card-style">
  <div>
    <mat-card class="form-style">
      <mat-card-header>
        <div>
          <img class="header-img-style" src="assets/loginImage.png" />
        </div>
        <div>
          <mat-card-title class="login-name">Login Form</mat-card-title>
        </div>
      </mat-card-header>
      <br>
      <div>
        <mat-card-content>
          <div>
            <mat-form-field class="field-style">
              <mat-label>Username</mat-label>
              <mat-icon matSuffix>person</mat-icon>
              <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="field-style">
              <mat-label> password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-margin">
            <div class="button-style">
              <button class="login-btn" (click) = "loginUser()" mat-button>Login</button>
              <a routerLink="/signup">
                <button class="signup-btn" mat-button>Signup</button>
              </a>
            </div>
          </div>
          <br>
          <p style="margin-left: 2%;">forgot 
            <a class="link-style" routerLink="/password">Password?</a></p>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</mat-card>