<mat-toolbar class='navbar'>
   <div class="name-style">
      <p>
         <mat-icon>menu_book</mat-icon> BookStore
      </p>
   </div>
   <div class="Searchbar">
      <mat-form-field>
         <!-- //<mat-icon matPrefix>search</mat-icon> -->
         <input matInput placeholder="search">
      </mat-form-field>
   </div>
   <div>
      <span>Cart</span>
      <span><a routerLink="/cart"><button matBadge="1" matBadgeColor="white" class="addbtn">
            <mat-icon>shopping_cart</mat-icon>
         </button></a> </span>
      <span></span>
   </div>
</mat-toolbar>
<div class="sidenav">
   <mat-sidenav-container>
      <mat-sidenav-content>
         <router-outlet></router-outlet>
      </mat-sidenav-content>
   </mat-sidenav-container>
</div>