.navbar {
  background-color: brown;
  font: 15px Arial, sans-serif;
  color: white;
}
.book-name {
  margin-left: 9%;
  font-size: 18px;
}
.searchbar {
  margin-left: 9%;
  width: 400px;
  margin-top: 3%;
  color: black;
}
.search-style {
  background-color: white;
  height: 30px;
  border-radius: 4px;
  font-family: FontAwesome !important;
}
.icon {
  background-color: white;
}
.shop-btn {
  color: white;
  border: none;
  background-color: brown;
  margin-left: 5px;
}

.side-style{
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
}
.mat-badge-content {
  background: white;
  color: brown;
}
.card-style{
  margin-left: 33%;
}