.toolbar-style {
  background-color: brown;
  color: white;
  font: 15px Arial, sans-serif;
  height: 10%;
}
.bs-label{
  font-size: 120%;
}
.bs-icon-style{
  margin-left: 9%;
}
.srch-bar-position{
  flex: 0 1 5%;
}
.srch-bar-style {
  background-color: white;
  color: black;
  border: unset;
  height: 30px;
  border-radius: 4px;
  font-family: FontAwesome !important;
  width: 38%;
}
.cart-position {
  flex: 0.7 0 auto;
}
.cart-icon-style {
  color: white;
  border: none;
  background-color: brown;
}
.navbar-style{
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  background-color: white;
}
.footer-style{
  background-color: rgb(59, 31, 31);
  color: white;
  font: 15px Arial, sans-serif;
}
.bs-footer-style{
  margin-left: 9%;
}