<div class="dashboard-style">
  <mat-toolbar class="toolbar-style">
    <mat-toolbar-row>
      <mat-icon class="bs-icon-style">menu_book</mat-icon>
      <a routerLink="/" class="bs-label"> <p>Bookstore</p></a>
      <span class="srch-bar-position"></span>
      <input type="text"class="srch-bar-style" matInput placeholder=" &#xF002; Search..." />
       
      <span class="cart-position"></span>
      <span>Cart</span>
      <a routerLink="/cart">
        <mat-icon matBadge={{cartCount}} matBadgeSize="small"class="cart-icon-style">
        shopping_cart</mat-icon>
      </a>
      <span class="wish-space"></span>
      <span >WishList</span>
      <a routerLink="/wishlist">
        <mat-icon matBadge= {{wishCount}} matBadgeSize="small"class="cart-icon-style">
          favorite_border</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="navbar-style">
    <mat-sidenav-container>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <!-- footer -->
  <footer class="footer-style">
    <div class="bs-footer-style">
      <p>
        Copyright @ 2020, Bookstore Private Limited. All Rights Reserved
      </p>
    </div>
  </footer>
  </div>