.navbar {
  width: 100%;
  background-color: brown;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
  font: 15px Arial, sans-serif;  
}

.name-style{
  font-size: 18px;

}
.span {
  padding-right: 2rem;
}
.Searchbar {
  padding-left: 15px;
  padding-top: 1px;
  text-align: left;
  width: 50%;
  height: 40%;
  background-color: white;
  color: gray;
}

.icon-size {
  width: 10%;
}
.addbtn {
  color: white;
  border: none;
  background: none;
  margin-left: 5px;
}
.sidenav {
  font: 15px Arial, sans-serif;
  padding-left: 7%;
  padding-right: 7%;
}
