<div class="main-style">
  <div class="data-style">
    <img
      src="https://books.google.com/books/content?id=GHt_uwEACAAJ&printsec=frontcover&img=1&zoom=5"
    />
  </div>
  <div class="msg-style">
    <h3>Order Placed Successfully</h3>
  </div>
  <div class="data-style">
    <p>
      hurry!!!your order is confirmed <br />
      the order id is #123456 save the order id for<br />
      futher communication.
    </p>
  </div>
  <div class="data-style">
    <table>
      <tr>
        <th>Email</th>
        <th>Contact</th>
        <th>Address</th>
      </tr>
      <tr>
        <td>abc23@gmail.com</td>
        <td>1234567890</td>
        <td>xyz ,24 bolck</td>
      </tr>
    </table>
  </div>
</div>
