.label-style{
display: flex;
justify-content: space-between;

}
.selector-style{
    margin-top: 14px;
    width: 18%;

}
.select-style{
width: 100%;
}
.books-styles{
   
    display: flex;
    padding-left: 0.010%;
    justify-content: space-between;
    //flex-flow: wrap;  
    flex-wrap: wrap;
      
}
.side-style{
padding: 20px 20px 20px 20px;
}

