.label-style {
  display: flex;
  justify-content: space-between;
  font: 15px Arial, sans-serif;
}
.book-name-style{
  font-size: 22px;
}
.selector-style {
  margin-top: 14px;
  width: 15%;
}
.select-style {
  width: 100%;
}
.books-styles {
  display: flex;
  margin-left:initial;
  flex-wrap: wrap;
}

.card-bet-space{
  padding-left: 5px;
  
}