.label-style {
  display: flex;
  justify-content: space-between;
}
.selector-style {
  margin-top: 14px;
  width: 18%;
}
.select-style {
  width: 100%;
}
.books-styles {
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap;
}
.side-style {
  padding: 20px 20px 20px 20px;
}
.card-bet-space{
  padding-left: 10px;
}