<div >
  <div>
    <div class="label-style">
      <p>Books [items]</p>
      <div class="selector-style">
        <select class = "select-style">
          <option>Sort by relevance</option>
          <option>Price: Low to High</option>
          <option (click) = "sortByPriceAsc()">Price: High to Low</option>
          <option>Newest Arrivals</option>
         </select>
      </div>
    </div>
  </div>
</div>
<div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
<div class = "books-styles">
    <div  class = "card-bet-space" *ngFor = "let book of bookArray">
       <app-bookcart [book]=book></app-bookcart> 
      <br>
    </div>
  </div>
</div>
  