<div class="container">
  <mat-card class="login-card">
    <div>
      <mat-card-header>
        <div>
          <img class="header-image" src="assets/addUser.png" />
        </div>
        <div>
          <mat-card-title class="signup-name">Signup Form</mat-card-title>
        </div>      
      </mat-card-header>
    </div>
    <br />
    <div>
      <mat-card-content>
        <div>
          <mat-form-field class="filed-style">
            <mat-label>Username</mat-label>
            <mat-icon matSuffix>person</mat-icon>
            <input
              matInput
              [formControl]="nameFormControl"
              [errorStateMatcher]="matcher"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="filed-style">
            <mat-label>Email id</mat-label>
            <mat-icon matSuffix>mail_outline</mat-icon>
            <input
              matInput
              [formControl]="emailFormControl"
              [errorStateMatcher]="matcher"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="filed-style">
            <mat-label> password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button >Admin</mat-radio-button>
          <mat-radio-button class="radio-btn" value="2">User</mat-radio-button>
        </mat-radio-group>
          
      </mat-card-content>
    </div>
    <mat-card-actions>
      <div>
         <a routerLink="/login"><button  class="signup-btn"mat-button>Signup</button></a>

      </div>
      <p>Already have account
      <a class="link-style" routerLink="/login">Login here</a></p>
    </mat-card-actions>
  </mat-card>
</div>
