.card-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin: auto; 
  margin-top: 5%;
  background-color: #f6eaea;
}
.header-img-style {
  border-radius: 100%;
  width: 45%;
  margin-left: 45%;
  margin-top: -28%;
  background-color: brown;
}
.signup-name {
  margin-top: 40%;
  margin-left: -115%;
}
.field-style {
  width: 100%;
}
.radio-btn {
  margin-left: 15px;
  color: brown;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  // opacity: 0.5 !important;     /click effect color change/
  background-color: brown !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: brown !important;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: brown !important;
}
.signup-btn {
  background-color: brown;
  color: white;
  width: 100%;
}
.link-style {
  color: brown;
}
