<mat-card class="card-style">
  <div>
    <mat-card class="form-style">
      <mat-card-header>
        <div>
          <img class="header-img-style" src="assets/signupImage.png" />
        </div>
        <div>
          <mat-card-title class="signup-name">Signup Form</mat-card-title>
        </div>
      </mat-card-header>
      <br />
      <div>
        <mat-card-content>
          <div>
            <mat-form-field class="field-style">
              <mat-label>Username</mat-label>
              <mat-icon matSuffix>person</mat-icon>
              <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="field-style">
              <mat-label>Email id</mat-label>
              <mat-icon matSuffix>mail_outline</mat-icon>
              <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="field-style">
              <mat-label> password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button>Admin</mat-radio-button>
            <mat-radio-button class="radio-btn" value="2">User</mat-radio-button>
          </mat-radio-group>

        </mat-card-content>
      </div>
      <mat-card-actions>
        <div style="margin-left: 1%;">
          <a routerLink="/login">

            <button mat-button (click) = "registerUser()" class="signup-btn">Signup</button></a>

        </div>
        <p>Already have account
          <a class="link-style" routerLink="/login">Login here</a></p>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>