.radio-btn {
  margin-left: 15px;
  color: brown;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  // opacity: 0.5 !important;     /click effect color change/
  background-color: brown !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: brown !important;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: brown !important;
}
.signup-btn {
  background-color: brown;
  color: white;
  width: 100%;
}
