.cust-mat-card{
  width: 650px;
  margin-left: 10px;
  margin-bottom: 10px;
  font: 15px Arial, sans-serif;
  border: rgb(184, 184, 184) 1px  solid; 
  transition: none !important;
  box-shadow: none !important;
}

.cust-field{
margin-left: 10px;
}
.cust-add-field{
width: 415px;
}
.cust-btn{
  margin-left: 530px;
  color: white;
  background-color: rgb(45, 125, 206);
}
.radio-btn{
  margin-left: 25px;
}