<div>
  <mat-card class="cust-mat-card">  
    <div>
      <p>Customer Details</p>
      
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="nameFormControl.hasError('NAME_PATTERN')">
            Name is invalid format
          </mat-error>
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    
        <mat-form-field class="cust-field" appearance="outline">
          <mat-label>Phone number</mat-label>
          <input matInput [formControl]="numberFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="numberFormControl.hasError(' MOBILE_PATTERN')">
            Please enter 10 digit number
          </mat-error>
          <mat-error *ngIf="numberFormControl.hasError('required')">
              Number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Pincode</mat-label>
          <input matInput [formControl]="PincodeFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="PincodeFormControl.hasError('PINCODE_PATTERN')">
            Pincode is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="PincodeFormControl.hasError('required')">
            Pincode is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    
        <mat-form-field class="cust-field"appearance="outline">
          <mat-label>Locality</mat-label>
          <input matInput [formControl]="LocalityFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="LocalityFormControl.hasError('required')">
            Locality is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="cust-add-field" appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput [formControl]="AddressFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="AddressFormControl.hasError('ADDRESS_PATTERN')">
            Address is <strong>not</strong> valid
          </mat-error>  
          <mat-error *ngIf="AddressFormControl.hasError('required')">
            Address is <strong>required</strong>
          </mat-error>

        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>City/Town</mat-label>
          <input matInput [formControl]="CityFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="CityFormControl.hasError('CITY_PATTERN')">
            city name is must be valid..
          </mat-error>
          <mat-error *ngIf="CityFormControl.hasError('required')">
            city name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    
        <mat-form-field class="cust-field" appearance="outline">
          <mat-label>Landmark</mat-label>
          <input matInput [formControl]="LandmarkFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="LandmarkFormControl.hasError('required')">
            Landmark is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <label>Type</label><br /><br />
      <div>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button >Home</mat-radio-button>
          <mat-radio-button class="radio-btn" value="2">Work</mat-radio-button>
          <mat-radio-button class="radio-btn" value="3">Other</mat-radio-button>

        </mat-radio-group>
        <div class="button">
          <button class="cust-btn"*ngIf="this.isButtonVisible" 
          mat-button (click)="isClicked= true"
          (click)="this.isButtonVisible = false">CONTINUE</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>  
<app-order-summery *ngIf="isClicked"></app-order-summery>
