<div>
  <div>

    <mat-card class="mat-card">
      <div>
        <div class="tooltip-wrap">
          <img
            class="image-style" [src]="book.img"/>
          <mat-card class="tooltip-content">
            <p class="title-style">Book Details</p>{{ book.description }}
          </mat-card> 
        </div>
      </div>
      <p class="title-style">{{ book.title }}</p>
      <p class="author-style">by {{ book.author }}</p>
      <p class="price-style">${{ book.price }}</p>
      <button class="button-style1">ADD TO BAG</button>
      <button
        (click)="colorChange()"
        [ngClass]="{ green: toggle }"
        class="button-style2" >
        WISHLIST
      </button>
    </mat-card>
  </div>
</div>


