<div>
  <mat-card class="bs-card">
    <div>
      <div class="tooltip-wrap">
        <img class="bs-img" [src]="getImageUrl()" />
        <mat-card class="tooltip-content">
          <p class="des-style">Book Details</p>
          {{ book.description }}
        </mat-card>
      </div>
    </div>
    <p class="bs-title">{{ book.title }}</p>
    <p class="bs-author">by {{ book.author }}</p>
    <p class="bs-price">Rs.{{ book.price }}</p>
    
    <button
      (click)="
        openSnackBar('Book Added To Cart !!!', 'Submit');
        incrementBagCnt(); Toggle();
        addToCart(); isevent = false"
        [ngClass]="{ blue: toggle }"
      class="addtobag-btn"
      disabled="{{ isDisabled }}">
      ADD TO BAG
    </button>
    <button *ngIf= "isevent == true"
      (click)="
        openSnackBar('Book Added To Wishlist !!!', 'Submit');
        incrementWishlistCnt();
        addToWishlist()"
      class="wishlist-btn"
      disabled="{{ isDisabled }}">

      WISHLIST
    </button>
  </mat-card>
</div>
