.button-style1 {
  background-color: brown;
  color: white;
  left: 1%;
}
.button-style2 {
  left: 2%;
}
.green {
  background-color: green;
}

.title-style {
  left: 5%;
  font-weight: bold;
  font-size: 90%;
  margin-left: 10%;
}
.image-style {
  width: 45%;
  margin-left: 30%;
}
.img-style {
  width: 80%;
}
.author-style {
  font-size: 47%;
  margin-left: 10%;
}
.price-style {
  font-size: 75%;
  margin-left: 10%;
  font-weight: bold;
}
