<mat-card class="card-style">
  <div>
    <mat-card-header>
      <div>
        <img
          class="header-img-style"
          src="assets/login.jpg "
          alt="filter applied"
        />
      </div>
      <div>
        <mat-card-title class="login-name">Reset Password</mat-card-title>
      </div>
    </mat-card-header>
    <br />
    <div>
      <mat-card-content>
        <div>
          <mat-form-field class="field-style">
            <mat-label>New Password</mat-label>
            <input
              matInput
              [(ngModel)]="resetPasswordObj.password"
              [type]="hide ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="field-style">
            <mat-label>Confirmed Password</mat-label>
            <input
              matInput
              [(ngModel)]="resetPasswordObj.confirmPassword"
              [type]="hide ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/login">
          <button
            (click)="
              resetPassword();
              openSnackBar('Your password changed !!!', 'Submit')
            "
            class="login-btn"
            mat-button
          >
            Login
          </button>
        </a>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
