.card-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin: auto; 
  margin-top: 10%;
  background-color: #f6eaea;
  }
 
  .header-img-style {
    border-radius: 100%;
    width: 45%;
    margin-left: 50%;
    margin-top: -28%;
  }
  .login-name {
    margin-top: 35%;
    margin-left: -91%;
  }
  .field-style {
    width: 100%;
  }
  .login-btn {
    background-color: #a52a2a;
    color: white;
    width: 100%;
  }
 
  